# Core Libraries
numpy
pandas  # Downgraded to support neuralprophet 0.6.1
scipy

# Visualization
matplotlib
seaborn
plotly

# Time Series Forecasting
prophet
neuralprophet  # Now compatible with pandas<2.0.0
statsmodels
pmdarima

# Machine Learning & Utilities
scikit-learn
tensorflow  # or tensorflow-cpu if no GPU
keras
joblib
pytorch-lightning 
torch
pickle5  # Only needed for Python < 3.8

# Streamlit & Deployment
streamlit
