# Streamlit and Visualization
streamlit
seaborn
matplotlib

# Serialization and Utilities
pickle-mixin
joblib
jsonlib

# Machine Learning and Forecasting
scikit-learn
pmdarima
statsmodels
prophet
neuralprophet
holidays

# Deep Learning Frameworks
tensorflow
keras

# Install the latest compatible PyTorch for Python 3.11
torch
torchvision
torchaudio --index-url https://download.pytorch.org/whl/cpu

# Additional Tools
pystan>=2.19.1.1
cmdstanpy

